.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.controls-container {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px 20px 0 20px;
  background: #d3d3d3;
  border-radius: 3px;
  opacity: .5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.controls-container:hover {
  opacity: .9;
}