.slider-container {
  margin-bottom: 25px;
}

.legend {
  display: inline-block;
  padding-bottom: 5px;
  font-family: Roboto;
  font-weight: 100;
}

.legend b {
  font-weight: 400;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: gray;
  border-radius: 3px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #5d73f5;
  border-radius: 3px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #5d73f5;
  cursor: pointer;
}
